body{
    margin: 0;
    font: 16px bold sans-serif;
    color: #333;
    line-height: 1.6em;
    background-color: #f8f9fa;

}


.container{
    width: 45%;
    margin: 130px 380px;
}

.p-box{
    width: 600px;
    height: 400px;
    /* border: 1px #000 solid; */
    border-radius: 10px;
    margin-top: 100px;

}

.p-box .lift {
    background: linear-gradient(180deg, #1b5a90, #00d0f1);
    float:left;
    width: 50%;
    padding: 140px;
    padding-bottom: 253px;
    border: 1px #ccc solid;
    box-sizing: border-box;
    position: relative;
    border-radius: 2.5px;
    
}

.p-box .lift p{
    position:absolute;
    font:50px bold sans-serif ;
    top: 110px;
    left: 70px;
    color:#fff;

}


.p-box .my-form {
    float: right;
    padding-top:30px;
    padding-bottom: 70px;
    padding-left:20px ;
    padding-right:20px ;
    width: 50%;
    border: 1px #ddd solid;
    border-radius: 2.5px;
    box-sizing: border-box;
    background-color:#fff;
    border-left: none;
}


/* .my-form .form-group{
    padding: 5px;

} */


.my-form h1{
     font-size: 20px;
     text-align: center;
     font-family: sans-serif;

 }


 .my-form p{
     text-align: center;
     color: #4c4c4c;
     font-size: 13px;
 }


 .my-form input{
     border: 1px #ddd solid;
     height: 30px;
     width: 250px;
     margin-bottom: 15px;
     margin-right: 3000px;
     border-radius: 3px;
 }


 .button{
    background-color: #00d0f1;
    color: #fff;

}
.button:hover{
    background-color: #0fb9d3;

}





 .my-form .forgit a{
    text-decoration: none;
    margin-left:60px;
    color: #a0a0a0;
}


.my-form .reg{
    margin-top: 10px;
    margin-left:40px;
}


.my-form .reg span{
    color: #a0a0a0;
    font-size: small;
}


.my-form .reg a{
    color: #333;
    text-decoration: none;
    font-size: small;
}
.my-form a:hover{
    text-decoration: underline;
    color: #333;


}

